{% extends "base.html" %} {% block title %}Home{% endblock %}






{% block content %}
<h1 align= "center">Journal</h1>
<ul class = "list-group list-group-flush" id= "notes">
  {% for note in user.notes%}
 <li class = "list-group-item"> {{note.data}}  <br> <b>Date: {{note.date}}</b>
     <button type = "button" class= "close" onClick= "deleteNote({{note.id}})">
         <span aria-hidden= "true">&times;</span>
     </button>
 </li>
  {%endfor %}  
</ul>
<form method = "POST">
    <textarea name = "note" id = "note" class = "form-control" placeholder="Add entry"></textarea>
    <br/>
    <div align="center">
        <button type = "submit" class = "btn btn-primary">Add Journal Post</button>
        <br/>
        <br>
        <br/>
        <br>
        <br/>
        <br>
        <br/>
        <br>
    </div>
</form>

{% endblock %}
